<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<% if @cart %>
<table>
<thead>
<tr>
  <th>Title</th>
  <th>Price</th>
</tr>
</thead>
<tbody>
<% @cart.each do |item| %>
  <tr>
    <td><%= item["title"] %></td>
    <td><%= item["price"] %></td>
    <td><%= link_to 'delete item', delete_item_url(item["id"]), remote: true %></td>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
Votre panier est vide
<% end %>