<div class="contain container-fluid">
  <div class="center-align">
    <div class="text-center">
      <h1>Congratulations</h1>
      <h3>you'll have a good time with your cats</h3>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="text-center">
    <h4>Thank you for your trust</h4>
    <p>Please check your email, you should have received a confirmation email</p>
    <p>Or check your <%= link_to 'Profile', '/user/profil' %> to see your orders</p>
  </div>
</div>
