<h1>User#profil</h1>
<p>Find me in app/views/user/profil.html.erb</p>

  <% @orders.each do |order| %>
  <tr>
      <ul>
        <% order.items.each do |item| %>
          <li> <% item.title %> </li>
        <% end %>
      </ul>
  </tr>
  <% end %>

<% @orders.each do |order| %>
  <p>
    <%= order %>
  </p>
<% end %>
