<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Get your picture <%= @user.username %>!</h1>
    <p>Thank you for buying a cute kitty picture on our website</p>
    <p>You can get your picture by clicking on this url: https://img1.grazia.fr/var/grazia/storage/images/article/15-gifs-de-chats-droles-et-mignons-dont-on-ne-se-lasse-pas-823967/13466199-1-fre-FR/15-GIFS-de-chats-droles-et-mignons-dont-on-ne-se-lasse-pas_exact1900x908_l.jpg !</p>
    <p>See you soon!</p>
    <p>Léa, Edouard, Thibault, Lan & Max </p>
  </body>
</html>
