<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Get your picture <%= @user.username %>!</h1>
    <p>Thank you for buying a cute kitty picture on our website</p>
    <p>You can get your picture by clicking on this url: <%= @item.image_url %> !</p>
    <p>See you soon!</p>
    <p>Léa, Edouard, Thibault, Lan & Max </p>
  </body>
</html>
