@import "../variables/*";
.items__card {
    padding: 10px;
    margin: 10px 0;
}

.shop__image {
    position: relative;

    display: flex;

    border: 2px solid $dark-blue;
    margin: 10px 0;
    background-color: white;
    overflow: hidden;
}

.shop__image img {
    width: 100%;
    height: 100%;
    position: center;
    overflow: auto;
    background-size: cover;
    background-position: center top;

}

.shop__image > .item__desc__over {
    transition: all 0.2s ease-in-out
}

.shop__image > .item__desc {
    transition: all 0.2s ease-in-out
}

.shop__image:hover > .item__desc__over {
    opacity: 1;
}

.shop__image:hover > .item__desc {
    top: 50%
}

.item__desc__over {
    position: absolute;
    background: rgba(31, 31, 31, 0.5);
    text-align: center;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%
}

.item__desc {
    position: absolute;
    display: inline-block;
    left: 0;
    text-align: center;
    width: 100%;
    top: 43%;
    transform: translateY(50%);
    font-size: 18px;
    color: white
}

.item__price {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 18px;
}
