// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables/*";

.items_index__wrapper {
    background-color: $grey;
}

.items__grid {
    display: grid;
    grid-auto-flow: row;
}

.items__list__item {
    min-width: 200px;
    max-width: 200px;
}

.pickup-line {
    padding: 35px 0;
    text-align: center
}
